{% load staticfiles %}
{% load mytags %}

<!DOCTYPE html>

<head>

  <h1 style="text-align:left;float:left; padding-left: 10px;">Shopper</h1> 
  <h2 style="text-align:right;float:right;padding-right: 10px;">For the love shopping</h2> 
  <div style="clear:both;"/>
  <title> Shopper{% block title %}{% endblock %}</title>

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="{% static 'crowd/css/moke.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  
  <ul style="margin-bottom: 20px;">

    <li><a href="default.asp">Home</a></li>
    <li><a href="news.asp">Stats</a></li>
    <li><a href="contact.asp">Add products</a></li>

  </ul>

  {% block css %}
  {% endblock %}
</head>

<body>


  {% block content %}
  {% endblock %}

  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'crowd/js/sketch.js' %}"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
  {% block javascript %}
  {% endblock %}
  </body>
</html>
