{% extends 'crowd/base.html' %}
{% load static %}
{% load mytags %}

{% block title %}Product list{% endblock %}



{% block content %}
<canvas id="myChart" width="400px" height="500px;"></canvas>
{% endblock %}

{% block javascript %}
<script>

$(document).ready(function(){
  var ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Red", "Blue", "Yellow",],
        datasets: [{
            data: [12, 19, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
      title :{
        text:"Coucou",
        display: true,
      },
      responsive: false,
      legend: {
            display: false,
      }
    }
});
});
</script>
{% endblock %}
