{% extends 'crowd/base.html' %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}

{% block content %}
<div class="w3-container">
	<div class="w3-row-padding">
		<div class="w3-col l3"  style="overflow:hidden;">
			<div class="w3-card w3-center w3-margin-bottom">
				<div style="overflow:hidden;">
					<img style="width:70%" src="https://rndr.juniqe.com/media/catalog/product/seo-cache/x310/34/3/34-3-EP03-white-0-front-1/Cool-lion-Balazs-Solti-Tee-shirt-homme.jpg"/>
				</div>
				<div class="w3-container w3-center w3-light-blue w3-padding">
			    <p>Nom : The Troll's tongue</p>
			    <a class="w3-btn w3-blue" href="#">Donner son avis</a>
			  </div>
			</div>
		</div>

		<div class="w3-col l3"  style="overflow:hidden;">
			<div class="w3-card w3-center">
				<div style="overflow:hidden;">
					<img style="width:70%" src="https://rndr.juniqe.com/media/catalog/product/seo-cache/x310/34/3/34-3-EP03-white-0-front-1/Cool-lion-Balazs-Solti-Tee-shirt-homme.jpg"/>
				</div>
				<div class="w3-container w3-center w3-light-blue w3-padding">
			    <p>Nom : The Troll's tongue</p>
			    <a class="w3-btn w3-blue" href="#">Donner son avis</a>
			  </div>
			</div>
		</div>

		<div class="w3-col l3"  style="overflow:hidden;">
			<div class="w3-card w3-center">
				<div style="overflow:hidden;">
					<img style="width:70%" src="https://rndr.juniqe.com/media/catalog/product/seo-cache/x310/34/3/34-3-EP03-white-0-front-1/Cool-lion-Balazs-Solti-Tee-shirt-homme.jpg"/>
				</div>
				<div class="w3-container w3-center w3-light-blue w3-padding">
			    <p>Nom : The Troll's tongue</p>
			    <a class="w3-btn w3-blue" href="#">Donner son avis</a>
			  </div>
			</div>
		</div>

		<div class="w3-col l3"  style="overflow:hidden;">
			<div class="w3-card w3-center">
				<div style="overflow:hidden;">
					<img style="width:70%" src="https://rndr.juniqe.com/media/catalog/product/seo-cache/x310/34/3/34-3-EP03-white-0-front-1/Cool-lion-Balazs-Solti-Tee-shirt-homme.jpg"/>
				</div>
				<div class="w3-container w3-center w3-light-blue w3-padding">
			    <p>Nom : The Troll's tongue</p>
			    <a class="w3-btn w3-blue" href="#">Donner son avis</a>
			  </div>
			</div>
		</div>
	</div>

	<div class="w3-row-padding">
		<div class="w3-col l3"  style="overflow:hidden;">
			<div class="w3-card w3-center">
				<div style="overflow:hidden;">
					<img style="width:70%" src="https://rndr.juniqe.com/media/catalog/product/seo-cache/x310/34/3/34-3-EP03-white-0-front-1/Cool-lion-Balazs-Solti-Tee-shirt-homme.jpg"/>
				</div>
				<div class="w3-container w3-center w3-light-blue w3-padding">
			    <p>Nom : The Troll's tongue</p>
			    <a class="w3-btn w3-blue" href="#">Donner son avis</a>
			  </div>
			</div>
		</div>

		<div class="w3-col l3"  style="overflow:hidden;">
			<div class="w3-card w3-center">
				<div style="overflow:hidden;">
					<img style="width:70%" src="https://rndr.juniqe.com/media/catalog/product/seo-cache/x310/34/3/34-3-EP03-white-0-front-1/Cool-lion-Balazs-Solti-Tee-shirt-homme.jpg"/>
				</div>
				<div class="w3-container w3-center w3-light-blue w3-padding">
			    <p>Nom : The Troll's tongue</p>
			    <a class="w3-btn w3-blue" href="#">Donner son avis</a>
			  </div>
			</div>
		</div>

		<div class="w3-col l3"  style="overflow:hidden;">
			<div class="w3-card w3-center">
				<div style="overflow:hidden;">
					<img style="width:70%" src="https://rndr.juniqe.com/media/catalog/product/seo-cache/x310/34/3/34-3-EP03-white-0-front-1/Cool-lion-Balazs-Solti-Tee-shirt-homme.jpg"/>
				</div>
				<div class="w3-container w3-center w3-light-blue w3-padding">
			    <p>Nom : The Troll's tongue</p>
			    <a class="w3-btn w3-blue" href="#">Donner son avis</a>
			  </div>
			</div>
		</div>

		<div class="w3-col l3"  style="overflow:hidden;">
			<div class="w3-card w3-center">
				<div style="overflow:hidden;">
					<img style="width:70%" src="https://rndr.juniqe.com/media/catalog/product/seo-cache/x310/34/3/34-3-EP03-white-0-front-1/Cool-lion-Balazs-Solti-Tee-shirt-homme.jpg"/>
				</div>
				<div class="w3-container w3-center w3-light-blue w3-padding">
			    <p>Nom : The Troll's tongue</p>
			    <a class="w3-btn w3-blue" href="#">Donner son avis</a>
			  </div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
