<!DOCTYPE html>

{% extends 'crowd/base.html' %}
{% load staticfiles %}

{% block css %}
<style>
	.col{
		border: 1px solid black;
	}
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      1 of 2
    </div>
    <div class="col">
      1 of 2
    </div>
  </div>
  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col">
      1 of 3
    </div>
    <div class="col">
      1 of 3
    </div>
  </div>
</div>
{% endblock %}
